 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="{{ url_for('static', filename='dist/img/server.png') }}" alt="logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light">Arcade Funhouse India</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{user.avatar_url}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.name}}#{{user.discriminator}}</a>
        </div>
      </div>
      



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/staff/dashboard" class="nav-link {% if request.path == '/staff/dashboard' %}active{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Forms (Coming soon)
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General Elements</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Advanced Elements</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Editors</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Validation</p>
                </a>
              </li>
            </ul>
          </li> -->

          {% if bot_access %}
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-robot"></i>
                <p>
                  Bots
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <p>Lottery Bot
                    <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="new-lottery"  class="nav-link">
                        <p>New Lottery</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="active-lottery" class="nav-link">
                        <p>Active Lottery</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="enrolled-members" class="nav-link">
                        <p>Enrolled Members</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>


            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                  Admin
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <p>Manage Staff
                    <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="manage-members"  class="nav-link">
                        <p>Members</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="add-member"  class="nav-link">
                        <p>Add Members</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          {% endif %}

      


  
        </ul>
        <br>
        <hr>
        <a href="/logout" class="btn btn-danger btn-block"><i class="fa fa-power-off"></i></a>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
